body {
  font-size:           small;
  font-family:         Verdana, Helvetica, Arial, sans-serif;
  line-height:         1.6em;
}

h1, h2 {
  color:               #007e7e;
}

h1 {
  font-size:           150%;
}

h2 {
  font-size:           130%;
}

#guarantee {
  line-height:         1.9em;
  font-style:          italic;
  font-family:         Georgia, "Times New Roman", Times, serif;
  color:               #444444;
  border: white dashed 1px; /* short-hand */
  padding:             25px 25px 25px 80px;
  margin:              30px 250px 30px 30px;
  background: no-repeat #a7cece url("images/background.gif");
  background-position: top left;
}

#elixirs {
  border: thin solid #007e70;
  width: 200px;
  padding: 0px 20px 20px 20px;
  margin-left: 20px;
  text-align: center;
  background: white url(images/cocktail.gif) repeat-x;
  line-height: 1;
}

#elixirs h2 {
  color: black
}

#elixiers h3 {
  color: #000000
}

.cd {
  font-style: italic;
}

.artist {
  font-weight: bold;
}

#elixirs a:link {
  color: #007e7e;
}

#elixirs a:visited {
  color: #333333;
}

#elixirs a:hover {
  background-color: #f88396;
  color: #0d5353;

}