h1 {
    letter-spacing: 0.2em;
    text-transform: uppercase;}

.credits {
    font-weight: bold;
    font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
    word-spacing: 1em;}