body {
    background-color: hsl(0, 0%, 78%);
    }

p {
    background-color: hsla(252, 100%, 88%, 0.5);}

h1 {
    background-color: DarkCyan}

/* hex code */
h2 {
    background-color: #ee3e80;}
