p.one {
    border-width: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: #0a6ebd;
    text-transform: uppercase}
p.two {
    border-width: thick;
    border-bottom-color: #9a2222;}
p.three {
    border-width: 1px 4px 12px 4px;}